.square-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .square-grid__cell {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 0 0px black;
    position: relative;
  }
  
  .square-grid__content {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }
  
  .square-grid__cell:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  
  .square-grid__cell--11 {
    flex-basis: 8.4090%; /*took off 1.5%*/
  }

  .square-grid__cell--9 {
    flex-basis: 10.1111%; /*took off 1%*/
  }

  .square-grid__cell--7 {
    flex-basis: 13.2857%; /*took off 1%*/
  }

  .square-grid__cell--5 {
    flex-basis: 19.0%; /*took off 1%*/
  }

  .square-grid__cell--3 {
    flex-basis: 32.333%; /*took off 1%*/
  }

  .bg {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    background-origin: border-box;
    color:#fff;
  }


